# alpine linux python flask server example

*.pem
publicip.txt


# node
node_modules

# python

venv-alpfs

__pycache__

*.pyc

# terraform

terraform.*
.terraform*

envvars.sh

# os x

.DS_Store

# emacs

*~