{% extends "base.html" %}

{% block title %}
Alpine Linux Python Flask Server
{% endblock %}

{% block content %}

<h1>Alpine Linux Python Flask Server</h1>

<div>
  <p>
    This is an example of <a href="https://alpinelinux.org">Alpine Linux</a> running
    <a href="https://flask.palletsprojects.com/en/2.0.x/">a Python flask server.</a>

  </p>
</div>

<div id="status">
  <table>
      <tr><td>Timestamp</td><td>{{ timestamp }}</td></tr>
      <tr><td>Host</td><td>{{ host }}</td></tr>
      <tr><td>Remote Addr</td><td>{{ remote_addr }}</td></tr>
  <table>
</div>

<br>

<div>
  <a href="https://en.wikipedia.org/wiki/Ouroboros">
    <img src="static/oroborous.png" width="100" height="100" alt="oroborous">
  </a>
</div>


{% endblock %}
